<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/posts/list">TheDog Blog</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Some Page</a></li>
      </ul>
      <form class="navbar-form navbar-left" action="{% url 'list' %}" method="GET">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="q" value="{{ request.GET.q }}">
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        {% if  request.user.is_authenticated %}
        <li><a href="#">{{request.user}}</a></li>
        <li><a href="#">Logout</a></li>
        <li><a href="{% url 'create' %}">New Post</a></li>
        {% else %}
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
        {% endif %}
        {% if  request.user.is_staff or request.user.is_superuser %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff Only <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Some other stuff</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Some more stuff</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>