{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}
    <h1>{{title}}</h1>
    <div class="row">
    {% for object in object_list %}
        <div class="col-sm-6 col-sm-offset-3 ">
        	<div class="thumbnail">
        	{% if object.image %}
        <img src="{{object.image.url}}" alt="" class="img-responsive">
    {% endif %}
        		<div class="caption">
            		<h3><a href="{{ object.get_absolute_url }}">{{object.title}}</a><small>  {{object.publish|timesince }} ago</small></h3>
            		<p>{{object.content|linebreaks|truncatechars:100}} <br>
            		{{object.id}} <br>
            		</p>
            		<p>
            		<p><a href="{{ object.get_absolute_url }}" class="btn btn-info" role="button">More</a></p>
            		</p>
        		</div>
        	</div>
        </div>
    {% endfor %}
    </div>
    
    <div class="pagination">
        <span class="step-links">
        <nav aria-label="...">
        <ul class="pager">
       
            {% if object_list.has_previous %}
                <li class="previous"><a href="?page={{ object_list.previous_page_number }}"><span aria-hidden="true">&larr;</span>previous</a></li>
            {% endif %}
        
            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
            </span>

            {% if object_list.has_next %}
                <li class="next"><a href="?page={{ object_list.next_page_number }}"> Next <span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
        </ul>
        </nav>
        </span>
    </div>
{% endblock content %}
  