{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}
    <h1>{{title}}</h1>
    <div class="row">
    {% for object in object_list %}
        <div class="col-sm-6 col-sm-offset-3 ">
        	<div class="thumbnail">
        		<div class="caption">
            		<h3><a href="{{ object.get_absolute_url }}">{{object.title}}</a><small> {{object.timestamp|timesince }} ago</small></h3>
            		<p>{{object.content|linebreaks|truncatechars:100}} <br>
            		{{object.id}} <br>
            		</p>
            		<p>
            		<p><a href="{{ object.get_absolute_url }}" class="btn btn-info" role="button">More</a></p>
            		</p>
        		</div>
        	</div>
        </div>
    {% endfor %}
    </div>

{% endblock content %}
