<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Create</title>
</head>
<body>
   {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
   <h1>The Post {{title}} Page</h1>
    <form action="{% url 'create' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Create Post">
</form>
</body>
</html>